extends ../layout

include ../includes/_paginate

block content
  .container
    form.form-inline.search-input-group(action='/questions', method='GET')
       select.form-control(name="find", rows="1")
        .choose-Find
          option(value="title", name="find" ) 제목
          option(value="content", name="find" ) 내용
          option(value="location", name="find" ) 장소
          option(value="field", name="find" ) 분야
          option(value="tags", name="find" ) 태그 
       input.form-control.mr-sm-2(type='text', name='term', placeholder='Search', aria-label='Search', value=term)

    h1.main-title 
      | Events
      if questions.total > 0
        .small Total #{questions.total} event(s)

    if questions.total <= 0 
      .alert.alert-info No events available yet
    else
      .questions
        each question in questions.docs
          .question
            a.title(href=`/questions/${question.id}`)= question.title
            include _question

      +paginate(questions, '/questions', query)

    hr
    a.btn.btn-primary(href='/questions/new') Make event
