extends layout

block hero-unit
  .something
       #carouselExampleSlidesOnly.carousel-slide(data-ride="carousel")
            .carousel-inner
                .carousel-item-active
                    img.d-block(src="https://cdn.evbstatic.com/s3-build/perm_001/35d88f/django/images/home/banners/homepage_hero_banner_1.jpg" alt="First slide")
              
                .carousel-item
                     img.d-block(src="https://cdn.evbstatic.com/s3-build/perm_001/aa36c3/django/images/home/banners/homepage_hero_banner_2.jpg" alt="Second slide")
              
                .carousel-item
                     img.d-block(src="https://cdn.evbstatic.com/s3-build/perm_001/6812b9/django/images/home/banners/homepage_hero_banner_3.jpg" alt="Third slide")
              
    
          
      
block content
 
              .jumbotron
                .container
                  h3.display-3 Find your next experience
                  form
                    .form-row
                      .col-md-3
                        input#consumer-header-event-search.form-control(name="q" type="text" placeholder="Search events or categories" autocomplete="off" spellcheck="false" title="Search events or categories")
                     
                      .col-md-3
                        input#consumer-header-event-location.form-control(name="loc" type="text"  placeholder="City or location" autocomplete="off"   spellcheck="false" value="Seongnam-si, Republic of Korea" title="Enter city or location")
                     
                      .col-md-3
                        select#consumer-header-date-range.form-control(name="date")
                            option(value="dates") All Dates
                            option(value="today") Today
                            option(value="tomorrow") Tomorrow
                            option(value="this_week") This Week
                            option(value="this_weekend") This Weekend
                            option(value="next_week") Next Week
                            option(value="next_month") Next Month
                            
                  
                      button(type="button").btn.btn-search SEARCH
              .card-deck
                .card
                    img.card-img-top(src="/images/banner2.jpg" alt="Card image cap")
                    .card-body
                        h4.card-title Card title
                        p.card-text This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.                      
                    .card-footer
                        small.text-muted Last updated 3 mins ago
                .card
                    img.card-img-top(src="/images/banner2.jpg" alt="Card image cap")
                    .card-body
                        h4.card-title Card title
                        p.card-text This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.                      
                    .card-footer
                        small.text-muted Last updated 3 mins ago
                .card
                    img.card-img-top(src="/images/banner2.jpg" alt="Card image cap")
                    .card-body
                        h4.card-title Card title
                        p.card-text This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.                      
                    .card-footer
                        small.text-muted Last updated 3 mins ago
              .card-deck
                .card
                    img.card-img-top(src="/images/banner2.jpg" alt="Card image cap")
                    .card-body
                        h4.card-title Card title
                        p.card-text This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.                      
                    .card-footer
                        small.text-muted Last updated 3 mins ago
                .card
                    img.card-img-top(src="/images/banner2.jpg" alt="Card image cap")
                    .card-body
                        h4.card-title Card title
                        p.card-text This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.                      
                    .card-footer
                        small.text-muted Last updated 3 mins ago
                .card
                    img.card-img-top(src="/images/banner2.jpg" alt="Card image cap")
                    .card-body
                        h4.card-title Card title
                        p.card-text This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.                      
                    .card-footer
                        small.text-muted Last updated 3 mins ago
                
              .card-deck
                .card
                    img.card-img-top(src="/images/banner2.jpg" alt="Card image cap")
                    .card-body
                        h4.card-title Card title
                        p.card-text This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.                      
                    .card-footer
                        small.text-muted Last updated 3 mins ago
                .card
                    img.card-img-top(src="/images/banner2.jpg" alt="Card image cap")
                    .card-body
                        h4.card-title Card title
                        p.card-text This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.                      
                    .card-footer
                        small.text-muted Last updated 3 mins ago
                .card
                    img.card-img-top(src="/images/banner2.jpg" alt="Card image cap")
                    .card-body
                        h4.card-title Card title
                        p.card-text This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.                      
                    .card-footer
                        small.text-muted Last updated 3 mins ago
                      
                    
                  
                  
                      
                  
        
