@import url('https://fonts.googleapis.com/css?family=Montserrat|Raleway');

body {
  font: 1rem 'Montserrat', sans-serif;
  margin-top: 50px;
  padding-top: 1em;
  & > .main-content {
    min-height: 400px;
  }
}

h3.recentlist{
  text-align: center;
}

p.list{
  margin: 5px;
  color: brown;
}
h6 {
  text-align: right;
 
}

a:hover {
  text-decoration: none;
}

/*.jumbotron {
  margin-top: -1em;
  background: url('/images/banner2.jpg') no-repeat left center;
  min-height: 20em;
  color: #fff;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
}*/
.carousel-item.active{
  height: 400px;
}
.jumbotron {
  position: relative;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 0%;
  padding-top: 4%;
  padding-bottom: 2%;
  width: 80%;
  height: 10%;
  top: -100px;
  z-index:2;
}
.jumbotron .container{
  width: 80%;
  height: 10%;
}
.jumbotron .container form{
  margin-top: 2%;
  margin-bottom: 3%;
  height: 10%;
  padding-left: 5%
}


.display-3{
  text-align: center;
  font-size: 4vw;
}
.form-actions {
  padding: 19px 20px 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #f5f5f5;
  border-top: 1px solid #e5e5e5;
}
form{
  margin-left: 10%;
  margin-top: 2%;
}
.footer {
  margin-top: 1em;
  padding-top: 1em;
  color: #aaa;
  border-top: .05rem solid #e5e5e5;
}

.main-title {
  font-family: 'Raleway';
  font-size: 2.5rem;
  margin: 1em 0 0.5em 0;
  border-bottom: 1px solid #eee;
  color: #011a72;
}

.header > .navbar {
  background-color: #f9fafd!important;
}

.navbar-light .navbar-brand {
  color : orange;
}
.search-input-group{
  margin: 1em 0;
  width: 100%;
  position: relative;
  select{
    width: 20%;
    height: 10%;
  }
  input { 
    border-radius: 2em;
    padding-left: 2.5em;
    width: 80%!important;
    height: 10%
  }
  i {
    padding-left: 10%;
    font-size: 3vw;
    color: #bababa;
    position: absolute;
  }

} 
.card-deck{
  margin-left: 17%;
  margin-right: 17%;
  margin-bottom: 2%;
}

.something{
  width:100%;
  height: 40%;
}